@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> userM

@model EventDetailM
@{
    ViewData["Title"] = "Detail";

    AppUser user_detail = null;

    if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
    {
        user_detail = userM.FindByNameAsync(User.Identity.Name).Result;
    }

}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img style="width:100%" src="~/uploads/events/@Model.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Html.Raw(Model.Event.StartDate?.ToString("dd '<span>'MMM'</span>'"))</h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Name</h2>
                        @{
                            DateTime timeStart = DateTime.Today.Add((TimeSpan)Model.Event.StartHour);
                            DateTime timeEnd = DateTime.Today.Add((TimeSpan)Model.Event.EndHour);
                        }
                        <ul>
                            <li><span>time:</span> @timeStart.ToString("hh:mm tt") - @timeEnd.ToString("hh:mm tt")</li>
                            <li><span>venue</span> @Model.Event.Address</li>
                        </ul>
                        <p>@Html.Raw(Model.Event.Desc)</p>
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (var item in Model.Event.TeacherEvents)
                            {
                                <div class="single-speaker">
                                    <div class="speaker-img">
                                        <img src="~/uploads/teachers/@item.Teacher.Image" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5>@item.Teacher.FullName</h5>
                                        <p>@item.Teacher.Position </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        <form action="/event/sendeventmessage" method="post">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="EventMessage.EventId" value="@Model.Event.Id" />
                                @if (user_detail == null)
                                {
                                    <div class="col-md-12">
                                        <p>FullName</p>
                                        <input asp-for="EventMessage.Name">
                                        <span asp-validation-for="EventMessage.Name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <p>Email</p>
                                        <input asp-for="EventMessage.Email">
                                        <span asp-validation-for="EventMessage.Email" class="text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" asp-for="EventMessage.Name" value="@user_detail.FullName" />
                                    <input type="hidden" asp-for="EventMessage.Email" value="@user_detail.Email" />
                                    <input type="hidden" asp-for="EventMessage.AppUserId" value="@user_detail.Id" />
                                }
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input asp-for="EventMessage.Subject">
                                    <span asp-validation-for="EventMessage.Subject" class="text-danger"></span>
                                    <p>Message</p>
                                    <textarea asp-for="EventMessage.Message" cols="15" rows="10"></textarea>
                                    <span asp-validation-for="EventMessage.Message" class="text-danger"></span>
                                    <input type="hidden" asp-for="EventMessage.EventId" value="@Model.Event.Id" />
                                </div>
                            </div>
                            <button type="submit" class="reply-btn"><span>send message</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            <li><a href="#">CSS Engineering (10)</a></li>
                            <li><a href="#">Political Science (12)</a></li>
                            <li><a href="#">Micro Biology (08)</a></li>
                            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                            <li><a href="#">Web Design (20)</a></li>
                            <li><a href="#">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/img/post/post1.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/img/post/post2.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">Advance Web Design and Develop</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/img/post/post3.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a href="blog-details.html" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a href="blog-details.html" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
