@model Course
@{
    ViewData["Title"] = "Detail";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row d-flex j-c-sb a-i-c before_after-none">
            <div class="col-md-3">
                <h1>Course</h1>
            </div>
            <div class="col-md-3">
                <a asp-action="index" class="waves-effect waves-light btn btn-info" style="width:100%">Back To Table</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card green">
                    <div class="card-content white-text">
                        <span class="card-title">Name</span>
                        <p>
                            @Model.Name
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title">Teacher Image</span>
                        <div class="image">
                            <img style="width: 100%" src="/uploads/courses/@Model.Image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row ml-0 m-0">
                    <div class="col-12">
                        <div class="card blue-grey">
                            <div class="card-content white-text">
                                <span class="card-title">About</span>
                                <p>
                                    @Model.About
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card green">
                            <div class="card-content white-text">
                                <span class="card-title">Apply</span>
                                <p>
                                    @Model.Apply
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row m-0">
                    <div class="col-md-6">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Certification</span>
                                <p>
                                    @Model.Certification
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card yellow darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Start</span>
                                <p>
                                    @Model.Starts?.ToString("dd MMMM, yyyy")
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card green">
                            <div class="card-content white-text">
                                <span class="card-title">Duration</span>
                                <p>
                                    @Model.Duration Month
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row m-0">
                    <div class="col-md-3">
                        <div class="card orange">
                            <div class="card-content white-text">
                                <span class="card-title">Class Duration</span>
                                <p>
                                    @Model.ClassDuration Hours
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card red">
                            <div class="card-content white-text">
                                <span class="card-title">Language</span>
                                <p>
                                    @Model.Language
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card teal">
                            <div class="card-content white-text">
                                <span class="card-title">Students Limit</span>
                                <p>
                                    @Model.StudentsLimit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card facebook">
                            <div class="card-content white-text">
                                <span class="card-title">Fee</span>
                                <p>
                                    @Model.Fee?.ToString("0.##")
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card pinterest">
                            <div class="card-content white-text">
                                <span class="card-title">Category</span>
                                <p>
                                    @Model.Category.Name
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card twitter">
                            <div class="card-content white-text">
                                <span class="card-title">Tags</span>
                                @{
                                    var tags = "";
                                }
                                @foreach (var item in Model.CourseTags)
                                {
                                    if (item.Id != Model.CourseTags.LastOrDefault().Id)
                                    {
                                        tags += item.Tag.Name + ", ";
                                    }
                                    else
                                    {
                                        tags += item.Tag.Name;
                                    }

                                }
                                <p>
                                    @tags
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

