@model Slider
@{
    ViewData["Title"] = "Edit";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-action">
                        Edit Slider
                    </div>
                    <div class="card-content">
                        <form class="col s12" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="card p-1">
                                                <div class="image-poster">
                                                    @if (Model?.Image != null)
                                                    {
                                                        <div class="image-wrapper" style="position:relative">
                                                            <span id="deleteImage" class="delete-image" style="position:absolute"><i class="fas fa-times"></i></span>
                                                            <img style="width:100%" src="~/uploads/sliders/@Model.Image" />
                                                            <input type="hidden" name="Image" value="@Model.Image" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h3 class="mt-2">Have not image</h3>
                                                    }

                                                </div>
                                                <div class="input-field mt-12">
                                                    <input asp-for="ImageFile" class="d-none image-file">
                                                    <label asp-for="ImageFile" class="p-s input-file white">
                                                        <span class="d-i-b p-a">About Image</span>
                                                    </label>
                                                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="input-field col s6">
                                            <input asp-for="Title" class="validate @(Model?.Title!=null?"valid":"")">
                                            <label asp-for="Title" class="@(Model?.Title!=null?"active":"")">Title</label>
                                            <span class="text-danger" asp-validation-for="Title"></span>
                                        </div>
                                        <div class="input-field col s6">
                                            <input asp-for="Subtitle" class="validate @(Model?.Subtitle!=null?"valid":"")">
                                            <label asp-for="Subtitle" class="@(Model?.Subtitle!=null?"active":"")">Subtitle</label>
                                            <span class="text-danger" asp-validation-for="Subtitle"></span>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea asp-for="Desc" class="validate @(Model?.Desc!=null?"valid":"")"></textarea>
                                            <label asp-for="Desc" class="@(Model?.Desc!=null?"active":"")">Description</label>
                                            <span class="text-danger" asp-validation-for="Desc"></span>

                                        </div>
                                        <div class="input-field col s4">
                                            <input asp-for="Order" class="validate @(Model?.Order!=null?"valid":"")">
                                            <label asp-for="Order" class="@(Model?.Order!=null?"active":"")">Order</label>
                                            <span class="text-danger" asp-validation-for="Order"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="waves-effect waves-light btn btn-success" style="width:200px">Edit</button>
                        </form>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).on("click", "span#deleteImage", function (e) {
            console.log($("form.user .image-poster"));

            $(this).parent().parent().remove();
        });
    </script>
}